body{
    background: #E5E8E8;
    padding-bottom: 50px;
}

.topnav{
    background-color:#CCD1D1;
    overflow: hidden;
    /* top: 0; 
    left: 0;
    right: 0;
    width: 100%;  */
}

  /* Style the links inside the navigation bar */
.topnav a{
    float: left;
    color:#212F3D;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px 20px;
    text-decoration: underline;
    font-size: 18px;
    margin-right: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:darkgray;
    opacity: 0.9;
    color:#212F3D;
  }

h1{
    font-family:Arial, Helvetica, sans-serif;
    color: #212F3D;
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    color: #212F3D;
}

p1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #212F3D;
}

p2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #212F3D;
    line-height: 40px;
}

#gbutton {
    background-color: aliceblue;
    border-style: solid;
    border-color: #212F3D;
    padding: 20px;
    width: 250px;
    margin: 25px;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
}

